@font-face {
    font-family: "KumbhSans400";
    src: url("KumbhSans-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "KumbhSans";
    src: url("KumbhSans-Regular.ttf");
    font-weight: 700;
    font-style: normal;
}